  <!--<h1 style="padding: 20px; margin: 20px; background-color: lavenderblush; color: darkblue;">
  <section class="teddyById-sec">
    <div class="idForm">
      <form (submit)="findTeddyById()">-->
        <!--<label for="teddyId">Enter WuzzyBear ID:</label> <br>
  <input type="number" min="0" id="teddyId" name="teddyId" [(ngModel)]="teddyId" placeholder="Enter WuzzyBear ID">
  <button>Get Content</button>-->
        <!--<mat-form-field>
          <mat-label for="teddyId">Enter WuzzyBear ID</mat-label>
          <input matInput type="number" min="0" id="teddyId" name="teddyId" [(ngModel)]="teddyId" placeholder="Enter WUzzyBear id">
        </mat-form-field> <br>
        <button mat-raised-button color="primary" type="submit">Get Teddy Bear<mat-icon>download</mat-icon></button>
      </form>
    </div>
    <div class="oneCard">
      <app-content-card [teddy]="oneTeddyById" [class]="'oneTeddy'"></app-content-card>

    </div>
  </section>
</h1>-->


<br />
<br />
<h1 style="padding: 20px; margin: 20px; background-color: antiquewhite; color: black;">
  <app-message></app-message>
</h1>
<br />

<router-outlet></router-outlet>
<!--<app-content-list></app-content-list>-->
